body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .sticky + body {
    padding-top: 102px;
  }
  
  #FullNavbar {
    display: flex;
    flex-direction: column;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2000;
    background-color: white;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar-left {
    flex: 1;
    height: 50px;
    margin-bottom: 5%;
    margin-left: 1%;
  }
  
  .logo {
    width: 180px;
    height: auto;
    margin-left: 5%;
    margin-top: -15%;
  }

  .logoS{
    width: 150px;
    height: auto;
    margin-left: 5%;
    margin-top: -2.5%;
  }

  .location {
    width: 90px;
    height: auto;
    margin-left: 10%;
    margin-top: -40%;
  }
  
  .navbar-middle {
    flex: 3;
    display: flex;
    justify-content: center;
    margin-top: -2.5%;
    margin-left: 2%;
  }
  
  .navbar-middle input[type="text"] {
    width: 85%;
    padding: 8px;
    font-size: 16px;
    background-color: lightgrey;
    border-radius: 15px;
    border: 2px solid #24245a;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .navbar-right {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin-top: -2.5%;
  }
  
  .login-btn,
  .cart-btn  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    font-family: 'Bebas Neue';
    font-weight: bold;
  }
  .location-btn-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    font-family: 'Bebas Neue';
    font-weight: bold;
    margin-left: 20%;
    margin-top: -10%;
  }
  
  .cart-btn-text {
    margin-left: 7.5%;
  }
  
  .menu-item {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: #000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: larger;
  }
  
  .menu-item:hover {
    color: #24245a;
    font-weight: bold;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: lightgray;
    border: 1px solid #ccc;
    padding: 10px;
    top: 100%;
    left: 0;
    z-index: 1000;
    height: 250px;
    width: 100%;
  }
  
  .menu-item:hover .dropdown-menu {
    display: block;
  }
  
  .navbar-menu {
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    gap: 30px;
    background-color: lightgrey;
    margin-top: -1.5%;
    border-top: 2px solid #24245a;
  }
  