.body {
  margin: 0;
  padding: 0;
}

.App{
  font-family: "HK Grotesk Legacy";
}

.mainWrapper{
  display: flex;
  margin-top: 10%;
}
.Wrapper{
  height: 70%;
  width: 70%;
  margin:auto;
}

.instaHeading{
  margin-top: 15%;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bolder;
  font-size: 36px;
}

.promotional-bar {
  background-color: #24245a;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.promotional-content {
  color: #ffffff;
  margin: auto;
}

.close-btn {
  font-size: 22px;
  cursor: pointer;
  color: #ffffff;
  float: right;
  margin-right: 1%;
}

.promotional-content p {
  margin: 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .promotional-bar {
    font-size: 15px;
  }
}
